<IfModule mod_deflate.c>
<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|html|php|txt|xml)$">
SetOutputFilter DEFLATE
</FilesMatch>
</IfModule>

RewriteEngine on
Options +FollowSymlinks

RewriteRule   admin/category/						  index.php?page=category	[L]
RewriteRule   article/([0-9]+)/([a-zA-Z0-9]+)         index.php?page=article&article=$1&nom=$2	[L]
RewriteRule   category/([a-zA-Z]+)/        			  index.php?page=index&cat=$1	[L]
RewriteRule   contact/       			  			  index.php?page=contact	[L]
RewriteRule   legal/      			  				  index.php?page=legal	[L]
RewriteRule   admin/      			  				  index.php?page=admin	[L]
RewriteRule   kill/      			  				  index.php?page=kill	[L]