@font-face {
  font-family: playFair;
  src: url(assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: ubuntu;
  src: url(assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

h2{
	color: #b4ad9e;
	text-align: left;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 35px;
}

.list h2{
	color: #b4ad9e;
	text-align: left;
	text-transform: uppercase;
	font-size: 15px;
	margin-top: 5px;
}

.list a{
	color: #626262;
}

h1{
	color: #626262;
	text-align: left;
	font-family: playFair;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 25px;
}

hr{
	margin: 0;
	padding: 0;
}

ul{
	margin-top: 25px;
}

li {
	margin-bottom: 25px;	
}

#admin table{
	border: dotted 2px #b4ad9e;
}

#identification tbody{
	height: 30px;
}

.menutitre, .menutitre a{
	font-family: playFair;
	text-transform: uppercase;
	color: #626262;
	text-align: right;
}

.littleTopMargin{
	margin-top: 25px;
}

.topMargin{
	margin-top: 50px;
}

.botMargin{
	margin-bottom: 75px;
}

.fullDivP{
	width: 100%;
}

.content, .content a, .content a:hover{
	text-align: left;
	font-family: ubuntu;
	color: #626262;
}

.eCenter{
	text-align: center;
}

.fullPad{
	padding: 25px 50px 25px 50px;
	font-family: playFair;
	font-size: 25px;
}

.fullPadA{
	padding: 25px 50px 25px 50px;
}

.padBot {
	padding-bottom: 50px;
}

.visible{
	opacity: 0;
}

.newsletter{
	background-color: #f2f2f2;
	font-weight: bold;
	padding-top: 50px;
	margin-bottom: 75px;
}

.newsletter input, .newsletter input:focus{
	background-color: #f2f2f2;
	border: 0;
	border-bottom: solid 3px #626262;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 25px;
	color: #626262;
	box-shadow: none;
	-webkit-box-shadow: none;
	width: 100%;
}


.newsletter input::placeholder { 
	color: #626262;
}

.float{
	position: relative;
	top: -90px;
	left: 275px;
	display: block;
	font-size: 25px;
}

.pointer{
	cursor: pointer;
}

.footer{
	background-color: #f2f2f2;
	margin-top: 50px;
}

.tameColor{
	color: #b4ad9e;
}

.mediumColor, .mediumColor a{
	color: #626262;
}

.rounded{
	background-color: #626262;
	color: white;
	font-size: 42px;
	width: 75px;
	height: 75px;
	border-radius: 100%;
}

.vCentered{
	padding-top: 8px;
}

.bold{
	font-weight: bold;
}

.comments input{
	width: 100%;
	height: 75px;
	padding: 15px;
	font-family: ubuntu;
}

.comments input::placeholder{
	text-transform: uppercase;
}


.bigFont{
	font-size: 20px;
}

input[type=button], input[type=submit], input[type=reset]{
  background-color: #f2f2f2;
  border: none;
  color: #626262;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  text-align: center;
  border: solid 1px #b4ad9e;
}

#banner_spot{
	width: 250px;
	height: 250px;
	border: solid 1px  #626262;
}

.greyBack{
	 background-color: #f2f2f2;
}

.whiteBack{
	 background-color: #ffffff;
	 -webkit-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.73);
	-moz-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.73);
	box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.73);
}

.vaTop{
	position: relative;
	top: -10px;
}

.justify{
	text-align: justify;
}

.sub{
	font-size: 11px;
	font-style: italic;
	display: block;
	margin-top: 5px;
}

.up{
	text-transform: uppercase;
	font-size: 15px;
}

#addCategory{
	width: 90%;
	display: inline;
	margin-left: 10px;
	margin-bottom: 0;
	padding-bottom: 5px;
	border: 0;
	border-bottom: solid 2px #b4ad9e;
	background-color: #f8f8f8;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.renameCategory:disabled{
	width: 75%;
	display: inline;
	height: 25px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #f8f8f8;
	box-shadow: none;
	-webkit-box-shadow: none;
	font-weight: bold;
	cursor: default;
}

.renameCategory{
	width: 75%;
	display: inline;
	height: 25px;
	margin: 0;
	padding: 5px;
	font-weight: bold;
}

.right{
	float: right;
}

.margin-right{
	margin-right: 10px;
}

.label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}
.label-file:hover {
    color: #25a5c4;
}

.input-file {
    display: none;
}

#startUpload{
	padding: 8px 16px;
	margin-bottom: 15px;
	cursor: pointer;
}

#startUpload:disabled{
	padding: 8px 16px;
	margin-bottom: 15px;
	cursor: not-allowed;
	visibility:hidden;
}

#progress{
	visibility:hidden;
}

#reminder{
	position: fixed;
	top: 0px;
	left: 40%;
	background-color: red;
	color: white;
}